.custom-form{
    width: 40%;
    margin-left: 2%;
    margin-top: 8%;
}

.custom-input{
  color:white;
  outline:none;
  margin-top:5%;
  margin-left:20%;
  width: 100%;
  height: 50px;
  border-color: rgba(0, 0, 0, 0.0);
  border-bottom-color: rgba(35, 163, 41, 0.3);
  background-color:rgba(0, 0, 0, 0);
}

.custom-submit-button{
  cursor: pointer;
outline:none;
color: aliceblue;
font-family:fantasy;
opacity: .6;
font-size: 18px;
margin-top:50px;
margin-left:20%;
width: 50%;

background-color:rgba(0, 0, 0, 0.3);
box-shadow: 20px;
}

.custom-submit-button:hover{
  opacity:1;
}

.titleLabel{
font-size: 20px;
font-family: Georgia, 'Times New Roman', Times, serif;
font-style: italic;
margin-left: 20%;
}

.isClicked{
    animation-name: borderColor;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-direction: alternate;
}

@keyframes borderColor{
   100%{
    border-bottom-color: rgb(255,255,255);
    border-width: 2px;
  }
}