.buton-din-centru {
  margin-left: 80px;
  border-color: azure;
  border-width: 1.54px;
  font-size: 100%;
  width: 10%;
}
.buton-din-centru:hover {
  background-color: azure;
  color: black;
  margin-left: 80px;
  border-color: azure;
}
.paragraf {
  height: 40%;
  background-clip: content-box;
  margin-top: 60px;
}
.text-middle-page-section {
  margin-top: 20px;
  font-style: italic;
  font-family: serif;
  font-size: 30px;
}
