<form (ngSubmit) ="onSubmit()" class="form-signin custom-style" [hidden]="loginService.checkLogin()">

  <input  
  type="text" 
  class="form-control custom-input" 
  [(ngModel)]="model.email"
  ngControl="email"
  name="email"
  placeholder="Email address" 
  required autofocus>
  
  <input  type="password"
   id="inputPassword"
   class="form-control custom-input"  
   placeholder="Password"
   [(ngModel)]="model.password" 
   ngControl="password"
   name="password"
   required>
 
  <button class="btn btn-lg btn-primary custom-submit-button" 
   type="submit">Sign in</button>
</form>
